.form-container {
  composes: card-container from global;
}

.input-group p {
  margin-bottom: 20px;
  font-size: 16px;
}

.submit-button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}